// scss-lint:disable ColorVariable

// main colors used in theme
// %CINNAMON_OPACITY% < 1 will result in most cinnamon surfaces being transparent
$button_bg_color: #%BTN_BG%;
$button_fg_color: #%BTN_FG%;
$selected_bg_color: #%SEL_BG%;
$selected_fg_color: #%SEL_FG%;
$tooltip_bg_color: #%BG%;
$tooltip_fg_color: #%FG%;
$dark_bg_color: #%MENU_BG%;
$dark_fg_color: #%MENU_FG%;

$mid_bg_color: fade-out(mix(#%BG%, #%MENU_BG%, 50%), 1 - %CINNAMON_OPACITY%);
$mid_fg_color: mix(#%FG%, #%MENU_FG%, 50%);

// an always transparent color used for expo & scale views and the lightbox effect when cinnamon is showing an OSD.
$bg_color_trans: fade-out(#%MENU_BG%, 1 - (%CINNAMON_OPACITY% / 2));

// used to calculate gradients for gradient values > 0
$lighten_amount: 1 + (%GRADIENT% / 2);
$darken_amount: 1 - (%GRADIENT% / 2);

// main background surface gradient start and end colors
$light_bg_grad: if($lighten_amount > 1, lighten($mid_bg_color, ($lighten_amount - 1) * lightness($mid_bg_color)), $mid_bg_color);
$dark_bg_grad: if($darken_amount < 1, darken($mid_bg_color, (1 - $darken_amount) * lightness($mid_bg_color)), $mid_bg_color);

// selected background surface gradient start and end colors - used for buttons and window list
$light_selected_bg_grad: if($lighten_amount > 1, lighten($selected_bg_color, ($lighten_amount - 1) * lightness($selected_bg_color)), $selected_bg_color);
$dark_selected_bg_grad: if($darken_amount < 1, darken($selected_bg_color, (1 - $darken_amount) * lightness($selected_bg_color)), $selected_bg_color);

// button background surface gradient start and end colors - used for buttons
$light_button_bg_grad: if($lighten_amount > 1, lighten($button_bg_color, ($lighten_amount - 1) * lightness($button_bg_color)), $button_bg_color);
$dark_button_bg_grad: if($darken_amount < 1, darken($button_bg_color, (1 - $darken_amount) * lightness($button_bg_color)), $button_bg_color);

// hovered button background surface gradient start and end colors - used for buttons
$hover_button_bg: lighten($button_bg_color, .05 * lightness($button_bg_color));
$light_hover_button_bg_grad: if($lighten_amount > 1, lighten($hover_button_bg, ($lighten_amount - 1) * lightness($hover_button_bg)), $hover_button_bg);
$dark_hover_button_bg_grad: if($darken_amount < 1, darken($hover_button_bg, (1 - $darken_amount) * lightness($hover_button_bg)), $hover_button_bg);

// tooltip background surface gradient start and end colors - used for tooltips
$light_tooltip_bg_grad: if($lighten_amount > 1, lighten($tooltip_bg_color, ($lighten_amount - 1) * lightness($tooltip_bg_color)), $tooltip_bg_color);
$dark_tooltip_bg_grad: if($darken_amount < 1, darken($tooltip_bg_color, (1 - $darken_amount) * lightness($tooltip_bg_color)), $tooltip_bg_color);

// borders used throughout theme buttons also use selected_borders_color
$selected_borders_color: mix($mid_bg_color, $selected_bg_color, if(lightness($mid_bg_color) < 50%, 18%, 10%));
$border_strength: if(lightness($mid_fg_color) > 50, .1, .2);
$interior_borders_color: fade-out($mid_fg_color, 0.88 - $border_strength);
$exterior_borders_color: mix($mid_bg_color, $mid_fg_color, (30 + ($border_strength * 100)));
$tooltip_borders_color: mix($tooltip_bg_color, $tooltip_fg_color, (30 + ($border_strength * 100)));

// decoration for buttons
$button_border_strength: if(lightness($button_fg_color) > 50, .1, .2);
$button_border: fade-out($button_fg_color, 0.88 - $button_border_strength);

// scrollbar colors
$scrollbar_bg_color:  darken($mid_bg_color, 5%);
$scrollbar_slider_color: mix($mid_bg_color, $mid_fg_color, 50%);
$scrollbar_slider_hover_color: mix($mid_bg_color, $selected_bg_color, 20%);

// caret colors for dialog entrys
$primary_caret_color: #%CARET1_FG%;

// other colors used in the theme
$link_color: #%LINK_COLOR%;
$success_color: #%SUCCESS_COLOR%;
$warning_color: #%WARNING_COLOR%;
$error_color: #%ERROR_COLOR%;
$info_fg_color: #%SPECIAL_FG_COLOR%;
$info_bg_color: #%INFO_BG_COLOR%;

// used for border-radius throughout theme
$roundness: %ROUNDNESS%px;

// used to set notification position
$notification_margin_right: %NOTIFICATION_MARGIN_RIGHT%px;
$notification_margin_top: %NOTIFICATION_MARGIN_TOP%px;

